html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100%;
	font-size: 20px;
	font-family: FiraSans;
	color: #CCCCCC;
	display: flex;
	flex-direction: column;
	background: #292929;
}

/* Main */
main {
	padding: 50px 20px;
	width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 1240px) {
	main {
		width: calc(100vw - 40px);
	}
}

/* ####################################################################### */
/* Content */
.img_small {
	width: 50px;
	height: auto;
}

.img_normal {
	width: 80px;
	height: auto;
}

.img_big {
	width: 172px;
	height: auto;
}

.img_hover:hover {
	filter: hue-rotate(300deg);
}

.img_dice {
	z-index: 3;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_dice {
	width: 0;
	height: 0;
	transition: unset;
	overflow: hidden;
}

.img_dice_1 {
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

.img_dice_2 {
	width: 250%;
	height: 250%;
	transition: all 0.5s ease-in-out;
}

.player_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.path {
	display: flex;
	align-items: flex-end;
	margin-bottom: 100px;
	background: transparent url("../pictures/step.png") center top/80px 80px repeat-y;

}

.goal {
	background: transparent url("../pictures/goal_bg.png") center bottom/80px 80px no-repeat;
}

.path img {
	border-radius: 10px;
	border-width: 4px;
	border-style: solid;
	border-color: transparent;
	background: #292929;
}







/* ####################################################################### */
/* Navbar */
nav {
	padding-right: 15%;
	padding-left: 15%;
	height: 100px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	background-color: #222222;
}

.nav_left {
	float: right;
	display: inline;
}

nav .img_small {
	margin-top: 25px;
	margin-bottom: 25px;
}

nav .img_normal {
	margin-top: 10px;
	margin-bottom: 10px;
}

.img_confirm {
	display: none;
	margin-left: 50px;
}

@media (max-width: 1600px) {
	nav {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 1350px) {
	nav {
		padding-right: 10px;
		padding-left: 10px;
	}
}


/* ####################################################################### */
/* Text */
h1 {
	color: #007AD9;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
}


a:link, a:visited {
	color: #A10000;
}

a:hover, a:active, a:focus {
	color: #A10000;
}

hr {
	border-style: solid;
	border-width: 2px;
	border-color: #333333;
	margin: 0 auto;
	width: 100%;
	margin: 20px 0 50px 0;
}

/* ####################################################################### */
/* Disable */
input[type=checkbox] {
	display: none;
}

.disable_link:link, .disable_link:visited, .disable_link:hover, .disable_link:active {
	color: inherit;
	text-decoration-line: none;
}

input:focus:hover, input:focus {
	outline: none;
	border-radius: unset;
}


/* ####################################################################### */
/* Checkbox */
.checkbox + label::before {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid #A10000;
  background-color: transparent;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}

.checkbox:checked + label::before {
  box-shadow: inset 0px 0px 0px 2.5px #333333;
  background-color: #A10000;
}


/* ####################################################################### */
/* Footer */
footer {
	background-color: #222222;
	margin-top: auto;
	height: 100px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	text-align: center;
	display: flex;
}

.footer_block {
	flex-grow: 1;
}

.footer_block a {
	margin: 0 20px;
}

.footer_block a:hover, .footer_block a:focus {
	outline: none;
	filter: contrast(100%);
}

.footer_left {
	text-align: left;
	font-size: 12px;
}

.footer_center {
	text-align: center;
}

.footer_right {
	text-align: right;
}

.footer_right a {
	filter: contrast(0%);
}

footer img {
	height: 30px;
}

/* Transformation */
@media screen and (max-width: 1300px) {
	footer {
		height: 160px;
		flex-direction: column-reverse;
		padding: 0;
		padding-top: 15px;
	}
	.footer_block {
		text-align: center;
	}
}

/* Touch Screen Footer */
@media (pointer: coarse) {
	.footer_right a {
		filter: contrast(100%);
	}
}