@font-face {
	font-family: FiraSans;
	src: url(../../../elements/fonts/fira_sans.ttf);
	font-weight: normal;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100%;
	font-size: 25px;
	font-family: FiraSans;
	color: #CCCCCC;
	display: flex;
	flex-direction: column;
	background: #292929;
}

footer {
	margin-top: auto;
	height: 30px;
	padding: 15px;
	text-align: center;
}


/* ####################################################################### */
/* Navbar */
nav {
	padding-right: 15%;
	padding-left: 15%;
	height: 100px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	background-color: #222222;
}

.nav_left {
	float: right;
	display: inline;
}

nav .img_small {
	margin-top: 25px;
	margin-bottom: 25px;
}

nav .img_normal {
	margin-top: 10px;
	margin-bottom: 10px;
}

.img_confirm {
	display: none;
	margin-left: 50px;
}

@media (max-width: 1600px) {
	nav {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 1350px) {
	nav {
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* ####################################################################### */
/* Image */
.img_small {
	width: 50px;
	height: 50px;
}

.img_normal {
	width: 80px;
	height: 80px;
}

.img_big {
	width: 172px;
	height: 172px;
}

.img_hover:hover {
	filter: hue-rotate(300deg);
}


/* ####################################################################### */
/* Text */
h1 {
	color: #007AD9;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}


a:link, a:visited {
	font-size: 15px;
	color: #CCCCCC;
}

a:hover, a:active, a:focus {
	font-size: 15px;
	color: #CCCCCC;
}

hr {
	border-style: solid;
	border-width: 2px;
	border-color: #333333;
	margin: 0 auto;
	width: 100%;
	margin: 20px 0 50px 0;
}


/* ####################################################################### */
/* Disable */
.disable_link:link, .disable_link:visited, .disable_link:hover, .disable_link:active {
	color: inherit;
	text-decoration-line: none;
}